n8n-workflows/video-processing.json
{
  "name": "Video Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-uploaded",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "video-upload-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "video.uploaded"
            }
          ]
        }
      },
      "id": "validate-event",
      "name": "Validate Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.data.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video from R2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "command": "=/tmp/process-video.sh \"{{ $binary.data.fileName }}\" \"/tmp/processed/{{ $json.data.key }}\"",
        "cwd": "/tmp"
      },
      "id": "save-video-temp",
      "name": "Save Video to Temp",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "command": "mkdir -p /tmp/processed/{{ $('Webhook Trigger').item.json.data.key }} && ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 /tmp/input_{{ $('Webhook Trigger').item.json.data.key }}.mp4",
        "cwd": "/tmp"
      },
      "id": "get-video-duration",
      "name": "Get Video Duration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "const duration = parseFloat($input.first().json.stdout.trim());\nconst key = $('Webhook Trigger').item.json.data.key;\n\n// Calculate timestamps for thumbnails at 10%, 50%, 90%\nconst timestamps = {\n  thumb_10: Math.floor(duration * 0.10),\n  thumb_50: Math.floor(duration * 0.50),\n  thumb_90: Math.floor(duration * 0.90)\n};\n\nreturn [{\n  json: {\n    duration,\n    key,\n    timestamps,\n    inputPath: `/tmp/input_${key}.mp4`,\n    outputDir: `/tmp/processed/${key}`\n  }\n}];"
      },
      "id": "calculate-timestamps",
      "name": "Calculate Timestamps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i {{ $json.inputPath }} -ss {{ $json.timestamps.thumb_10 }} -vframes 1 -vf \"scale=640:-1\" {{ $json.outputDir }}/thumbnail_10.jpg && ffmpeg -y -i {{ $json.inputPath }} -ss {{ $json.timestamps.thumb_50 }} -vframes 1 -vf \"scale=640:-1\" {{ $json.outputDir }}/thumbnail_50.jpg && ffmpeg -y -i {{ $json.inputPath }} -ss {{ $json.timestamps.thumb_90 }} -vframes 1 -vf \"scale=640:-1\" {{ $json.outputDir }}/thumbnail_90.jpg",
        "cwd": "/tmp"
      },
      "id": "generate-thumbnails",
      "name": "Generate Thumbnails",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i {{ $('Calculate Timestamps').item.json.inputPath }} -c:v libx264 -preset medium -crf 23 -c:a aac -b:a 128k -movflags +faststart -vf \"scale=trunc(iw/2)*2:trunc(ih/2)*2\" {{ $('Calculate Timestamps').item.json.outputDir }}/transcoded.mp4",
        "cwd": "/tmp"
      },
      "id": "transcode-video",
      "name": "Transcode to Web MP4",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "jsCode": "const key = $('Calculate Timestamps').item.json.key;\nconst outputDir = $('Calculate Timestamps').item.json.outputDir;\nconst webhookData = $('Webhook Trigger').item.json.data;\n\nreturn [{\n  json: {\n    key,\n    outputDir,\n    userId: webhookData.userId,\n    originalFilename: webhookData.filename,\n    files: [\n      { type: 'thumbnail', name: 'thumbnail_10.jpg', path: `${outputDir}/thumbnail_10.jpg` },\n      { type: 'thumbnail', name: 'thumbnail_50.jpg', path: `${outputDir}/thumbnail_50.jpg` },\n      { type: 'thumbnail', name: 'thumbnail_90.jpg', path: `${outputDir}/thumbnail_90.jpg` },\n      { type: 'video', name: 'transcoded.mp4', path: `${outputDir}/transcoded.mp4` }\n    ]\n  }\n}];"
      },
      "id": "prepare-upload-list",
      "name": "Prepare Upload List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_API_URL }}/api/upload/get-presigned-urls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.key }}"
            },
            {
              "name": "files",
              "value": "={{ JSON.stringify($json.files.map(f => ({ name: f.name, type: f.type }))) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-presigned-urls",
      "name": "Get Presigned Upload URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "jsCode": "const presignedUrls = $input.first().json.urls;\nconst files = $('Prepare Upload List').item.json.files;\n\n// Merge presigned URLs with file paths\nreturn files.map((file, index) => ({\n  json: {\n    ...file,\n    presignedUrl: presignedUrls[index].uploadUrl,\n    publicUrl: presignedUrls[index].publicUrl\n  }\n}));"
      },
      "id": "merge-urls-with-files",
      "name": "Merge URLs with Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-files",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "command": "=cat {{ $json.path }}",
        "cwd": "/tmp"
      },
      "id": "read-file",
      "name": "Read Processed File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Split Into Batches').item.json.presignedUrl }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 300000
        }
      },
      "id": "upload-to-r2",
      "name": "Upload to R2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 200]
    },
    {
      "parameters": {
        "jsCode": "const uploadedFiles = $('Merge URLs with Files').all();\nconst webhookData = $('Webhook Trigger').item.json.data;\n\nconst thumbnails = uploadedFiles\n  .filter(item => item.json.type === 'thumbnail')\n  .map(item => item.json.publicUrl);\n\nconst transcodedVideo = uploadedFiles\n  .find(item => item.json.type === 'video');\n\nreturn [{\n  json: {\n    key: webhookData.key,\n    userId: webhookData.userId,\n    originalFilename: webhookData.filename,\n    thumbnails,\n    transcodedUrl: transcodedVideo ? transcodedVideo.json.publicUrl : null,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_API_URL }}/api/upload/processed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"key\": \"{{ $json.key }}\",\n  \"userId\": \"{{ $json.userId }}\",\n  \"originalFilename\": \"{{ $json.originalFilename }}\",\n  \"thumbnails\": {{ JSON.stringify($json.thumbnails) }},\n  \"transcodedUrl\": \"{{ $json.transcodedUrl }}\",\n  \"processedAt\": \"{{ $json.processedAt }}\"\n}",
        "options": {}
      },
      "id": "update-database",
      "name": "Update Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_API_URL }}/api/webhooks/video-processed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"video.processed\",\n  \"data\": {\n    \"key\": \"{{ $('Aggregate Results').item.json.key }}\",\n    \"userId\": \"{{ $('Aggregate Results').item.json.userId }}\",\n    \"thumbnails\": {{ JSON.stringify($('Aggregate Results').item.json.thumbnails) }},\n    \"transcodedUrl\": \"{{ $('Aggregate Results').item.json.transcodedUrl }}\",\n    \"processedAt\": \"{{ $('Aggregate Results').item.json.processedAt }}\",\n    \"status\": \"completed\"\n  }\n}",
        "options": {}
      },
      "id": "send-completion-webhook",
      "name": "Send Completion Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3450, 200]
    },
    {
      "parameters": {
        "command": "=rm -rf /tmp/input_{{ $('Webhook Trigger').item.json.data.key }}.mp4 /tmp/processed/{{ $('Webhook Trigger').item.json.data.key }}",
        "cwd": "/tmp"
      },
      "id": "cleanup-temp-files",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3650, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "message",
              "value": "Video processing completed successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [3850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_API_URL }}/api/webhooks/video-processed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"video.processing_failed\",\n  \"data\": {\n    \"key\": \"{{ $('Webhook Trigger').item.json.data.key }}\",\n    \"userId\": \"{{ $('Webhook Trigger').item.json.data.userId }}\",\n    \"error\": \"{{ $json.error.message || 'Unknown error occurred' }}\",\n    \"status\": \"failed\"\n  }\n}",
        "options": {}
      },
      "id": "error-webhook",
      "name": "Send Error Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Invalid event type. Expected 'video.uploaded'\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "invalid-event-response",
      "name": "Invalid Event Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Event": {
      "main": [
        [
          {
            "node": "Download Video from R2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Event Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from R2": {
      "main": [
        [
          {
            "node": "Save Video to Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video to Temp": {
      "main": [
        [
          {
            "node": "Get Video Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Duration": {
      "main": [
        [
          {
            "node": "Calculate Timestamps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Timestamps": {
      "main": [
        [
          {
            "node": "Generate Thumbnails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Thumbnails": {
      "main": [
        [
          {
            "node": "Transcode to Web MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcode to Web MP4": {
      "main": [
        [
          {
            "node": "Prepare Upload List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload List": {
      "main": [
        [
          {
            "node": "Get Presigned Upload URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Presigned Upload URLs": {
      "main": [
        [
          {
            "node": "Merge URLs with Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge URLs with Files": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Read Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Processed File": {
      "main": [
        [
          {
            "node": "Upload to R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to R2": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Send Completion Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Completion Webhook": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Temp Files": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "video-processing",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "media",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
